
@{
    ViewData["Title"] = "CSV import";
    ViewData["Stylesheet"] = "/css/manager.css";
}

<h1>CSV bestanden importeren</h1>

<hr />

<div class="employee_createpage">
    <div class="col-md-4">
        <form asp-action="ReadFromCSV" enctype="multipart/form-data">
            <div class="form-group">
                <label for="fileUpload" class="control-label">Selecteer bestand</label>
                <input id="fileUpload" class="form-control" name="fileUpload" type="file" accept=".csv" multiple required />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Importeren" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListEmployees" class="blue">Terug</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


