@{
    ViewData["Title"] = "Beshikbaarheid";
    ViewData["Stylesheet"] = "/css/mobile.css";
}

<header>
    <h1>Beschikbaarheid</h1>
</header>
<div class="content">

</div>
<footer>
    <div>
        <a asp-action="WorkSchedule">
            <img src="/img/schedule.svg" />
            <p class="unselected">Rooster</p>
        </a>
    </div>
    <div>
        <img src="/img/availability_selected.svg" />
        <p class="selected">Beschikbaarheid</p>
    </div>
    <div>
        <a asp-action="RequestLeave">
            <img src="/img/vacation.svg" />
            <p class="unselected">Verlof</p>
        </a>
    </div>
    <div>
        <a asp-action="SchoolSchedule">
            <img src="/img/school.svg" />
            <p class="unselected">Schoolrooster</p>
        </a>
    </div>
</footer>