@{
    ViewData["Title"] = "Beschikbaarheid";
    ViewData["Stylesheet"] = "/css/mobile.css";
}

<header>
    <h1>Beschikbaarheid</h1>
</header>
<div class="content">
    <div class="inner_div">
        <h5><b>Maandag</b></h5>
        Niet beschikbaar<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
    <div class="inner_div">
        <h5><b>Dinsdag</b></h5>
        09:00 - 18:00<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
    <div class="inner_div">
        <h5><b>Woensdag</b></h5>
        Hele dag<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
    <div class="inner_div">
        <h5><b>Donderdag</b></h5>
        16:00 - 22:00<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
    <div class="inner_div">
        <h5><b>Vrijdag</b></h5>
        14:00 - 22:00<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
    <div class="inner_div">
        <h5><b>Zaterdag</b></h5>
        Hele dag<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
    <div class="inner_div">
        <h5><b>Zondag</b></h5>
        Hele dag<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
</div>