@{
    ViewData["Title"] = "Beschikbaarheid";
    ViewData["Stylesheet"] = "/css/mobile.css";
}

<header>
    <h1>Beschikbaarheid</h1>
</header>
<div class="content">
    <div class="inner_div">
        <h5><b>maandag</b></h5>
        Niet beschikbaar<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
    <div class="inner_div">
        <h5><b>dinsdag</b></h5>
        09:00 - 18:00<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
    <div class="inner_div">
        <h5><b>woensdag</b></h5>
        Hele dag<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
    <div class="inner_div">
        <h5><b>donderdag</b></h5>
        16:00 - 22:00<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
    <div class="inner_div">
        <h5><b>vrijdag</b></h5>
        14:00 - 22:00<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
    <div class="inner_div">
        <h5><b>zaterdag</b></h5>
        Hele dag<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
    <div class="inner_div">
        <h5><b>zondag</b></h5>
        Hele dag<a asp-action="EditAvailability"><span class="edit_availability">Wijzigen</span></a>
    </div>
</div>
<footer>
    <div>
        <a asp-action="WorkSchedule">
            <img src="/img/schedule.svg" />
            <p class="unselected">Rooster</p>
        </a>
    </div>
    <div>
        <img src="/img/availability_selected.svg" />
        <p class="selected">Beschikbaarheid</p>
    </div>
    <div>
        <a asp-action="RequestLeave">
            <img src="/img/vacation.svg" />
            <p class="unselected">Verlof</p>
        </a>
    </div>
    <div>
        <a asp-action="SchoolSchedule">
            <img src="/img/school.svg" />
            <p class="unselected">Schoolrooster</p>
        </a>
    </div>
</footer>