@using WebApp.Domain
@model LeaveRequest
@{
    ViewData["Title"] = "Verlof";
    ViewData["Stylesheet"] = "/css/mobile.css";
}

<header>
    <h1>Verlof aanvragen</h1>
</header>
<a asp-action="LeaveRequests" class="back_button"><span class="back_chevron">&#x2039;</span>Terug</a>
<form asp-action="RequestLeave">
    <div class="content">
        <div class="padded_container">
            <div>
                <label>Datum</label>
                <div>
                    <div class="small_field">
                        <h4>Van</h4><input type="date" asp-for="StartDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(5).ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="small_field">
                        <h4>Tot</h4><input type="date" asp-for="EndDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(5).ToString("yyyy-MM-dd")" />
                    </div>
                </div>
                <label>Reden</label>
                <textarea class="large_field" asp-for="Comment"></textarea>
            </div>
        </div>
        <input type="submit" class="ok_button" value="OK"/>
    </div>
</form>
