@{
    ViewData["Title"] = "Rooster";
    ViewData["Stylesheet"] = "/css/mobile.css";
}

<header>
    <h1>Rooster</h1>
</header>
<div class="content">

</div>
<footer>
    <div>
        <img src="/img/schedule_selected.svg" />
        <p class="selected">Rooster</p>
    </div>
    <div>
        <a asp-action="Availability">
            <img src="/img/availability.svg" />
            <p class="unselected">Beschikbaarheid</p>
        </a>
    </div>
    <div>
        <a asp-action="RequestLeave">
            <img src="/img/vacation.svg" />
            <p class="unselected">Verlof</p>
        </a>
    </div>
    <div>
        <a asp-action="SchoolSchedule">
            <img src="/img/school.svg" />
            <p class="unselected">Schoolrooster</p>
        </a>
    </div>
</footer>
