@{
    ViewData["Title"] = "Rooster";
    ViewData["Stylesheet"] = "/css/mobile.css";
}

<header>
    <h1>Rooster</h1>
</header>
<div class="content">
    <div class="outer_div">
        <div class="inner_div">
            <h4><b>maandag </b><span class="date">26/09/2022</span></h4>
            <b>09:00 - 12:00 </b><span class="department">Kassa</span>
        </div>
        <div class="inner_div">
            <b>15:00 - 20:00 </b><span class="department">Kassa</span>
        </div>
    </div>
    <div class="outer_div">
        <div class="inner_div">
            <h4><b>woensdag </b><span class="date">28/09/2022</span></h4>
            <b>13:00 - 17:00 </b><span class="department">Kassa</span> 
        </div>
    </div>
    <div class="outer_div">
        <div class="inner_div">
            <h4><b>vrijdag </b><span class="date">30/09/2022</span></h4>
            <b>09:00 - 15:00 </b><span class="department">Kassa</span>
        </div>
    </div>
</div>
<footer>
    <div>
        <img src="/img/schedule_selected.svg" />
        <p class="selected">Rooster</p>
    </div>
    <div>
        <a asp-action="Availability">
            <img src="/img/availability.svg" />
            <p class="unselected">Beschikbaarheid</p>
        </a>
    </div>
    <div>
        <a asp-action="RequestLeave">
            <img src="/img/vacation.svg" />
            <p class="unselected">Verlof</p>
        </a>
    </div>
    <div>
        <a asp-action="SchoolSchedule">
            <img src="/img/school.svg" />
            <p class="unselected">Schoolrooster</p>
        </a>
    </div>
</footer>
