@model WebApp.Domain.Employee
@{
    ViewData["Title"] = "Medewerker verwijderen";
    ViewData["Stylesheet"] = "/css/manager.css";
}

<h1>Weet u zeker dat u deze medewerker op inactief wilt zetten?</h1>
<hr />
<div class="employee_createpage">
    <div class="col-md-4">
        <form asp-action="DeleteEmployee">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" disabled />
                <input asp-for="UserName" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" type="date" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="NFCToken" class="control-label"></label>
                <input asp-for="NFCToken" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="HourlyWage" class="control-label"></label>
                <input asp-for="HourlyWage" type="number" step="0.01" class="form-control" disabled />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="red_button" value="Inactief" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListEmployees" class="blue">Back to List</a>
</div>
