@model WebApp.Domain.Employee
@{
    ViewData["Title"] = "Medewerker bewerken";
    ViewData["Stylesheet"] = "/css/manager.css";
}

<h1>Medewerker bewerken</h1>

<hr />
<div class="employee_createpage">
    <div class="col-md-4">
        <form asp-action="EditEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserName" class="form-control" type="hidden" />
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label><br />
                <input asp-for="Role" type="radio" id="employeeradio" value="Employee" />
                <label>Medewerker</label>
                <input asp-for="Role" type="radio" id="managerradio" value="Manager" />
                <label>Manager</label>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" min="1900-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" lang="nl" type="date" class="form-control" title="Geboortedatum is ongeldig" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NFCToken" class="control-label"></label>
                <input asp-for="NFCToken" class="form-control" id="nfc-token" readonly /><br />
                <button onclick="$.ajax({ type: 'GET', url: '/Manager/GenerateToken', success: function(data) { $('#nfc-token').val(data); }});" type="button">Nieuwe token</button>
                <span asp-validation-for="NFCToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inactive">
                    <input asp-for="Inactive" type="checkbox" />
                    Inactief
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Opslaan" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListEmployees" class="blue">Terug</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
