@{
    ViewData["Stylesheet"] = "/css/manager.css";
}
<header>
    <h1>Verlofaanvragen</h1>
</header>
<div class="watermark_concept">
    <p class="concept_text">CONCEPT</p>
</div>
<table>
    <tr class="tr_bg">
        <th>Naam</th>
        <th width="20%">Duur</th>
        <th>Status</th>
        <th>Reden</th>
        <th>Aanvraagdatum</th>
        <th>Actie</th>
    </tr>
    <tr class="tr_bg">
        <td>Kevin Schuren</td>
        <td>
            <b>23 Nov 2022 &ndash; 27 Nov 2022</b><br />
            <i>5 dagen</i>
        </td>
        <td><span class="pending">Openstaand</span></td>
        <td>Vakantie</td>
        <td>6 Nov 2022</td>
        <td>
            <button class="red_button">Weigeren</button>
            <button class="green_button">Accepteren</button>
        </td>
    </tr>
    <tr class="tr_bg">
        <td>Katja Ryzhkova</td>
        <td>
            <b>22 Nov 2022 &ndash; 24 Nov 2022</b><br />
            <i>3 dagen</i>
        </td>
        <td><span class="accepted">Goedgekeurd</span></td>
        <td>Ziekte</td>
        <td>2 Nov 2022</td>
        <td></td>
    </tr>
    <tr class="tr_bg">
        <td>Chinook Walther</td>
        <td>
            <b>28 Nov 2022 &ndash; 31 Nov 2022</b><br />
            <i>4 dagen</i>
        </td>
        <td><span class="rejected">Afgekeurd</span></td>
        <td>Vakantie</td>
        <td>10 Jul 2022</td>
        <td></td>
    </tr>
    <tr class="tr_bg">
        <td>Thampie Anthonyrajah</td>
        <td>
            <b>9 Nov 2022 &ndash; 31 Nov 2022</b><br />
            <i>23 dagen</i>
        </td>
        <td><span class="accepted">Goedgekeurd</span></td>
        <td>Vakantie</td>
        <td>8 Jul 2022</td>
        <td></td>
    </tr>
</table>
<p class="align_right">
    Pagina 1 van 1
    <select>
        <option>10 per pagina</option>
        <option>25 per pagina</option>
        <option>50 per pagina</option>
    </select>
</p>
<p class="align_right">
    <a asp-controller="Manager" asp-action="LeaveRequests" class="visible_link">Vorige pagina</a>
    <a asp-controller="Manager" asp-action="LeaveRequests" class="visible_link">Volgende pagina</a>
</p>
