@{
    ViewData["Stylesheet"] = "/css/manager.css";
}
<header>
    <h1>Verlofaanvragen</h1>
</header>
<table>
    <tr>
        <th>Naam</th>
        <th>Duur</th>
        <th>Status</th>
        <th>Reden</th>
        <th>Aanvraagdatum</th>
        <th>Actie</th>
    </tr>
    <tr>
        <td>Kevin Schuren</td>
        <td>
            <b>23 nov 2022 &ndash; 27 nov 2022</b><br />
            <i>5 dagen</i>
        </td>
        <td><span>Openstaand</span></td>
        <td>Vakantie</td>
        <td>6 nov 2022</td>
        <td>
            <button>Accepteren</button>
            <button>Weigeren</button>
        </td>
    </tr>
    <tr>
        <td>Katja Ryzhkova</td>
        <td>
            <b>22 nov 2022 &ndash; 24 nov 2022</b><br />
            <i>3 dagen</i>
        </td>
        <td><span>Goedgekeurd</span></td>
        <td>Ziekte</td>
        <td>2 nov 2022</td>
    </tr>
    <tr>
        <td>Chinook Walther</td>
        <td>
            <b>28 nov 2022 &ndash; 31 nov 2022</b><br />
            <i>4 dagen</i>
        </td>
        <td><span>Afgekeurd</span></td>
        <td>Vakantie</td>
        <td>10 jul 2022</td>
    </tr>
    <tr>
        <td>Thampie Anthonyrajah</td>
        <td>
            <b>9 nov 2022 &ndash; 31 nov 2022</b><br />
            <i>23 dagen</i>
        </td>
        <td><span>Goedgekeurd</span></td>
        <td>Vakantie</td>
        <td>8 jul 2022</td>
    </tr>
</table>
<p>
    Pagina 1 van 1
    <select>
        <option>10 per pagina</option>
        <option>25 per pagina</option>
        <option>50 per pagina</option>
    </select>
</p>
<p>
    <a asp-controller="Manager" asp-action="LeaveRequests">Vorige pagina</a>
    <a asp-controller="Manager" asp-action="LeaveRequests">Volgende pagina</a>
</p>
