@{
    ViewData["Stylesheet"] = "/css/manager.css";
}
<header>
    <h1 class="align_center">
        <a asp-controller="Manager" asp-action="Prognosis">&#x2039;</a>
        26 september - 2 oktober
        <a asp-controller="Manager" asp-action="Prognosis">&#x203A;</a>
    </h1>
</header>
<div class="watermark_concept">
    <p class="concept_text">CONCEPT</p>
</div>
<div class="grid4">
     <div>
         <h5>ma 26 september</h5><br />
         <p>Aantal colli:<span>35</span></p>
         <p>Verwachte bezoekers:<span>880</span></p>
     </div>
     <div>
         <h5>di 27 september</h5><br />
         <p>Aantal colli:<span>48</span></p>
         <p>Verwachte bezoekers:<span>770</span></p>
     </div>
     <div>
         <h5>wo 28 september</h5><br />
         <p>Aantal colli:<span>32</span></p>
         <p>Verwachte bezoekers:<span>750</span></p>
     </div>
     <div>
         <h5>do 29 september</h5><br />
         <p>Aantal colli:<span>40</span></p>
         <p>Verwachte bezoekers:<span>800</span></p>
     </div>
</div>
<div class="grid3">
    <div>
         <h5>vr 30 september</h5><br />
         <p>Aantal colli:<span>36</span></p>
         <p>Verwachte bezoekers:<span>980</span></p>
     </div>
     <div>
         <h5>za 1 oktober</h5><br />
         <p>Aantal colli:<span>55</span></p>
         <p>Verwachte bezoekers:<span>960</span></p>
     </div>
     <div>
         <h5>zo 2 oktober</h5><br />
         <p>Aantal colli:<span>29</span></p>
         <p>Verwachte bezoekers:<span>670</span></p>
     </div>
</div>