<header>
    <h1>
        <a asp-controller="Manager" asp-action="Scheduling">&#x2039;</a>
        vrijdag 30 september
        <a asp-controller="Manager" asp-action="Scheduling">&#x203A;</a>
    </h1>
</header>
<aside>
    <input type="date" />
    <p>Afdeling</p>
    <a asp-controller="Manager" asp-action="Scheduling">Kassa</a>
    <a asp-controller="Manager" asp-action="Scheduling">Vers</a>
    <a asp-controller="Manager" asp-action="Scheduling">VKK</a>
</aside>
<table>
    <tr>
        <td></td>
        <td>06:00</td>
        <td>07:00</td>
        <td>08:00</td>
        <td>09:00</td>
        <td>10:00</td>
        <td>11:00</td>
        <td>12:00</td>
        <td>13:00</td>
        <td>14:00</td>
        <td>15:00</td>
        <td>16:00</td>
        <td>17:00</td>
        <td>18:00</td>
        <td>19:00</td>
        <td>20:00</td>
        <td>21:00</td>
        <td>22:00</td>
        <td>23:00</td>
    </tr>
    <tr>
        <td>Prognose</td>
        <td>1/1</td>
        <td>1/1</td>
        <td>1/1</td>
        <td>2/1</td>
        <td>2/2</td>
        <td>2/2</td>
        <td>1/1</td>
        <td>1/1</td>
        <td>1/1</td>
        <td>2/2</td>
        <td>2/2</td>
        <td>2/3</td>
        <td>4/4</td>
        <td>4/3</td>
        <td>2/2</td>
        <td>2/2</td>
        <td>1/1</td>
        <td>1/1</td>
    </tr>
    <tr>
        <td>Medewerker 1</td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td colspan="6">Deze werknemer is momenteel niet beschikbaar</td>
    </tr>
    <tr>
        <td>Medewerker 2</td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
    </tr>
    <tr>
        <td>Medewerker 3</td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
    </tr>
    <tr>
        <td>Medewerker 4</td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
    </tr>
    <tr>
        <td>Medewerker 5</td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td colspan="5">Deze werknemer is momenteel niet beschikbaar</td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
    </tr>
    <tr>
        <td>Medewerker 6</td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td colspan="5">Deze werknemer is momenteel niet beschikbaar</td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
        <td><input type="checkbox" /></td>
    </tr>
</table>