@{
    ViewData["Stylesheet"] = "/css/manager.css";
}

<div class="watermark_concept">
    <p class="concept_text">CONCEPT</p>
</div>
<div class="content_container">
    <aside>
        <partial name="Calendar" model="new CalendarData {
            CurrentMonth = 9,
            CurrentYear = 2022,
            FirstWeekdayOfMonth = 4,
            Today = new DateOnly(2022, 9, 26),
            Selected = new DateOnly(2022, 9, 30),
            MinimumDay = new DateOnly(2022, 9, 27)
        };" />
        <hr />
        <p>Afdeling</p>
        <ul>
            <li><a asp-controller="Manager" asp-action="Scheduling">Kassa</a></li>
            <li><a asp-controller="Manager" asp-action="Scheduling">Vers</a></li>
            <li><a asp-controller="Manager" asp-action="Scheduling">VKK</a></li>
        </ul>
    </aside>
    <div>
        <header>
            <h1 class="align_center">
                <a asp-controller="Manager" asp-action="Scheduling">&#x2039;</a>
                Vrijdag 30 september
                <a asp-controller="Manager" asp-action="Scheduling">&#x203A;</a>
            </h1>
        </header>
        <table>
            <tr>
                <td class="align_center"></td>
                <td class="align_center"></td>
                <td class="align_center">06:00</td>
                <td class="align_center">07:00</td>
                <td class="align_center">08:00</td>
                <td class="align_center">09:00</td>
                <td class="align_center">10:00</td>
                <td class="align_center">11:00</td>
                <td class="align_center">12:00</td>
                <td class="align_center">13:00</td>
                <td class="align_center">14:00</td>
                <td class="align_center">15:00</td>
                <td class="align_center">16:00</td>
                <td class="align_center">17:00</td>
                <td class="align_center">18:00</td>
                <td class="align_center">19:00</td>
                <td class="align_center">20:00</td>
                <td class="align_center">21:00</td>
                <td class="align_center">22:00</td>
                <td class="align_center">23:00</td>
            </tr>
            <tr class="seperator"></tr>
            <tr>
                <td class="align_right" colspan="2">Prognose</td>
                <td class="align_center">1/1</td>
                <td class="align_center">1/1</td>
                <td class="align_center">1/1</td>
                <td class="align_center">2/1</td>
                <td class="align_center">2/2</td>
                <td class="align_center">2/2</td>
                <td class="align_center">1/1</td>
                <td class="align_center">1/1</td>
                <td class="align_center">1/1</td>
                <td class="align_center">2/2</td>
                <td class="align_center">2/2</td>
                <td class="align_center">2/3</td>
                <td class="align_center">4/4</td>
                <td class="align_center">4/3</td>
                <td class="align_center">2/2</td>
                <td class="align_center">2/2</td>
                <td class="align_center">1/1</td>
                <td class="align_center">1/1</td>
            </tr>
            <tr class="seperator"></tr>
            <tr>
                <td class="align_right" colspan="2">Medewerker 1</td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td colspan="6">Deze werknemer is momenteel niet beschikbaar</td>
            </tr>
            <tr>
                <td class="align_right" colspan="2">Medewerker 2</td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
            </tr>
            <tr>
                <td class="align_right" colspan="2">Medewerker 3</td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
            </tr>
            <tr>
                <td class="align_right" colspan="2">Medewerker 4</td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
            </tr>
            <tr>
                <td class="align_right" colspan="2">Medewerker 5</td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td colspan="5">Deze werknemer is momenteel niet beschikbaar</td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
            </tr>
            <tr>
                <td class="align_right" colspan="2">Medewerker 6</td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td colspan="5">Deze werknemer is momenteel niet beschikbaar</td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
                <td class="align_center"><input type="checkbox" /></td>
            </tr>
        </table>
        <div class="space_between">
            <button>Opslaan</button>
        </div>
    </div>
</div>