<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bumbo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bumbo.styles.css" asp-append-version="true" />
    @if (ViewData.ContainsKey("Stylesheet"))
    {
        <link rel="stylesheet" href="@ViewData["Stylesheet"]" asp-append-version="true" />
    }
</head>
<body>
    @if (ViewData.ContainsKey("IsMobile"))
    {
        <main>
            <footer>
                <div>
                    <a asp-action="WorkSchedule">
                        @if (ViewData["Title"] == "Rooster")
                        {
                            <img src="/img/schedule_selected.svg" />
                            <p class="selected">Rooster</p>
                        }
                        else
                        {
                            <img src="/img/schedule.svg" />
                            <p class="unselected">Rooster</p>
                        }
                    </a>
                </div>
                <div>
                    <a asp-action="Availability">
                        @if (ViewData["Title"] == "Beschikbaarheid")
                        {
                            <img src="/img/availability_selected.svg" />
                            <p class="selected">Beschikbaarheid</p>
                        }
                        else
                        {
                            <img src="/img/availability.svg" />
                            <p class="unselected">Beschikbaarheid</p>
                        }
                    </a>
                </div>
                <div>
                    <a asp-action="LeaveRequests">
                        @if (ViewData["Title"] == "Verlof")
                        {
                            <img src="/img/vacation_selected.svg" />
                            <p class="selected">Verlof</p>
                        }
                        else
                        {
                            <img src="/img/vacation.svg" />
                            <p class="unselected">Verlof</p>
                        }
                    </a>
                </div>
                <div>
                    <a asp-action="SchoolSchedule">
                        @if (ViewData["Title"] == "Schoolrooster")
                        {
                            <img src="/img/school_selected.svg" />
                            <p class="selected">Schoolrooster</p>
                        }
                        else
                        {
                            <img src="/img/school.svg" />
                            <p class="unselected">Schoolrooster</p>
                        }
                    </a>
                </div>
            </footer>
            @RenderBody()
        </main>
        <div class="watermark_concept">
            <p class="concept_text">CONCEPT</p>
        </div>
    }
    else
    {
        if(!ViewData.ContainsKey("HideNavBar"))
        {
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Index">Bumbo</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <partial name="_LinksPartial" />
                        </div>
                    </div>
                </nav>
            </header>
        }
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>