@using Microsoft.AspNetCore.Identity
@using WebApp.Domain;
@inject SignInManager<Account> SignInManager

<ul class="navbar-nav flex-grow-1">
    @if(SignInManager.IsSignedIn(User))
    {
        @if(User.IsInRole("Manager")) {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="Scheduling">Inroostering</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="Prognosis">Prognose</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="WorkedHours">Uren verlonen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="LeaveRequests">Verlofaanvragen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="ListEmployees">Medewerkers</a>
            </li>
            <li class="nav-item"><p class="nav-link text-dark">Hallo <span class="manager_color">@User.Identity.Name</span>!</p></li>
        }
        else if(User.IsInRole("Employee"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="WorkSchedule">Werkrooster</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="SchoolSchedule" asp-route-userName="@User.Identity.Name">Schoolrooster</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Availability">Beschikbaarheid</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="RequestLeave">Verlof</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Mobile" asp-action="Index">Mobile</a>
            </li>
            <li class="nav-item"><p class="nav-link text-dark">Hallo <span class="employee_color">@User.Identity.Name!</span></p></li>
        }
        else
        {
            <li class="nav-item"><p class="nav-link text-dark">Hallo @User.Identity.Name!</p></li>
        }
        <li class="nav-item">
           <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Uitloggen</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Inloggen</a>
        </li>
    }
</ul>
