@model WebApp.Domain.Account
@{
	ViewData["Title"] = "Login";
	ViewData["Stylesheet"] = "/css/login.css";
	ViewData["HideNavBar"] = true; // hide nav bar
}

<div class="login_group">
	<form asp-action="Login">
		<h1>Inloggen</h1>
		<input asp-for="UserName" class="form-control" placeholder="Gebruikersnaam" />
		<input asp-for="Password" class="form-control" placeholder="Wachtwoord" type="password" />
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="space_around">
			<button type="submit">Inloggen</button>
		</div>
	</form>
</div>
