@model WebApp.Domain.Availability
@{
    ViewData["Title"] = "Availability";
    ViewData["Stylesheet"] = "/css/employee.css";
}
<div class="container-fluid d-flex flex-column">
   <h1 class="align-self-center">Beschikbaarheid</h1>
   <div>
       <ul>
           <li class="availability-li">
               <h2>Maandag</h2>
                <div class="d-flex flex-row justify-content-between w-100">
                    <div class="">
                        niet beschikbaar
                    </div>
                    <div class="">
                        <a class="" asp-controller="Employee" asp-action="AvailabilityEdit">Wijzig</a>
                    </div>
                </div>
           </li>
            <li class="availability-li">
               <h2>Dinsdag</h2>
                <div class="d-flex flex-row justify-content-between w-100">
                    <div class="">
                        09:00 - 18:00
                    </div>
                    <div class="">
                        <a class="" asp-controller="Employee" asp-action="AvailabilityEdit">Wijzig</a>
                    </div>
                </div>
           </li>
            <li class="availability-li">
                <h2>Woensdag</h2>
                <div class="d-flex flex-row justify-content-between w-100">
                    <div class="">
                        Hele dag
                    </div>
                    <div class="">
                        <a class="" asp-controller="Employee" asp-action="AvailabilityEdit">Wijzig</a>
                    </div>
                </div>
            </li>
            <li class="availability-li">
                <h2>Donderdag</h2>
                <div class="d-flex flex-row justify-content-between w-100">
                    <div class="">
                        16:00 - 20:00
                    </div>
                    <div class="">
                        <a class="" asp-controller="Employee" asp-action="AvailabilityEdit">Wijzig</a>
                    </div>
                </div>
            </li>
            <li class="availability-li">
                <h2>Vrijdag</h2>
                <div class="d-flex flex-row justify-content-between w-100">
                    <div class="">
                        14:00 - 22:00
                    </div>
                    <div class="">
                        <a class="" asp-controller="Employee" asp-action="AvailabilityEdit">Wijzig</a>
                    </div>
                </div>
            </li>
            <li class="availability-li">
                <h2>Zaterdag</h2>
                <div class="d-flex flex-row justify-content-between w-100">
                    <div class="">
                        Hele dag
                    </div>
                    <div class="">
                        <a class="" asp-controller="Employee" asp-action="AvailabilityEdit">Wijzig</a>
                    </div>
                </div>
            </li>
            <li class="availability-li">
                <h2>Zondag</h2>
                <div class="d-flex flex-row justify-content-between w-100">
                    <div class="">
                        Hele dag
                    </div>
                    <div class="">
                        <a class="" asp-controller="Employee" asp-action="AvailabilityEdit">Wijzig</a>
                    </div>
                </div>
            </li>
       </ul>
   </div>
</div>