@using WebApp.Domain
@model SchoolSchedule

@{
    ViewData["Title"] = "Schoolrooster";
    ViewData["Stylesheet"] = "/css/mobile.css";
}

<header>
    <h1>Schoolrooster</h1>
</header>
<a asp-action="SchoolSchedule" class="back_button"><span class="back_chevron">&#x2039;</span>Terug</a>
<form asp-action="EditSchoolSchedule" id="edit_school_schedule_form">
    <input type="hidden" asp-for="Weekday" value="@ViewBag.Weekday">
    <div class="content">
        <div class="padded_container">
            <h4>@Weekdays.GetName(ViewBag.Weekday)</h4>
            <label>Tijd</label>
            <div id="availability1">
                <div class="small_field">
                    <h4>Van</h4><input type="time" asp-for="StartTime" />
                </div>
                <div class="small_field">
                    <h4>Tot</h4><input type="time" asp-for="EndTime" />
                </div>
            </div>
        </div>
        @if(ViewBag.CanCreateInstantly)
        {
            <button type="submit" class="ok_button">OK</button>
        }
        else
        {
            <a href="javascript:void(0)" class="ok_button" onclick="$('#overlay').removeClass('hidden');">OK</a>
        }
    </div>
</form>
<div class="hidden" id="overlay" onclick="$(this).addClass('hidden');">
    <div onclick="event.stopPropagation();">
        <div class="alert">
            Deze wijziging gaat in over 3 weken.
        </div>
        <button class="cancel" onclick="$('#overlay').addClass('hidden');">Annuleren</button>
        <button type="submit" class="confirm" form="edit_school_schedule_form">OK</button>
    </div>
</div>