@using WebApp.Domain
@model IEnumerable<LeaveRequest>
@{
    ViewData["Title"] = "Verlof";
    ViewData["Stylesheet"] = "/css/mobile.css";
}
    
<header>
    <h1>Verlof<a asp-action="RequestLeave"><span class="add_button">+</span></a></h1>
</header>
<div class="content">
    @foreach(var request in Model)
    {
        <div class="inner_div">
            <h5><b>@request.StartDate.ToString("ddd") </b><span class="date">@request.StartDate.ToShortDateString()</span> &ndash; <b>@request.EndDate.ToString("ddd") </b><span class="date">@request.EndDate.ToShortDateString()</span></h5>
            @if(request.Approved)
            {
                <span class="accepted">Goedgekeurd</span>
            }
            else if(request.Rejected)
            {
                <span class="rejected">Afgekeurd</span>
            }
            else
            {
                <span class="pending">Openstaand</span>
            }
        </div>
    }
</div>
