
@{
    ViewData["Title"] = "RequestLeave";
    ViewData["Stylesheet"] = "/css/employee.css";
}


<h1 class="current_page_title">Verlof aanvragen</h1>

<div class="watermark_concept">
    <p class="concept_text">CONCEPT</p>
</div>

<!-- Values are hardcoded now, will be changed later-->
<!-- Same for "form-asp-action" need to be changed later ons-->
<div class="request_leave_group">
    <div class="current_requests">
        <form asp-action="Requestleave">
            <table>
                <tr>
                    <th class="request_leave_th">Huidige aanvragen</th>
                </tr>
                <tr>
                    <td>Vrij aanvraag 1</td>
                </tr>
                <tr>
                    <td>Begindatum: 29-09-2022 </td>
                </tr>
                <tr>
                    <td>Einddatum: 30-09-2022</td>
                </tr>
                <tr>
                    <td> <input type="submit" value="Annuleren"></td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <td>Vrij aanvraag 2</td>
                </tr>
                <tr>
                    <td>Begindatum: 01-10-2022 </td>
                </tr>
                <tr>
                    <td>Einddatum: 10-10-2022</td>
                </tr>
                <tr>
                    <td> <input type="submit" value="Annuleren"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="new_request">
        <form asp-action="RequestLeave">
            <table>
                <tr>
                    <th class="request_leave_th">Nieuwe aanvraag</th>
                </tr>
                <tr>
                    <td>Begindatum: <input type="date"></td>
                </tr>
                <tr>
                    <td>Einddatum: <input type="date"></td>
                </tr>
                <tr>
                    <td>Opmerking: <input type="text" class="remark_input"></td>
                </tr>
            </table>
            <div class="send_button">
                <input type="submit" value="Verstuur">
            </div>
        </form>
    </div>
</div>