/* Availability CSS */
.save_button {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 4px 2px;
}

.time_input {
    max-width: 100px;
    padding: 5px;
}

.date_input {
    max-width: 150px;
    padding: 5px;
}

input[type="text"]::placeholder {
    text-align: center;
}

.availability_weekdays {
    text-align: center;
}

.availability_group {
    display: flex;
    justify-content: center;
}

.current_page_title {
    text-align: center;
}

/* Request leave CSS */
.request_leave_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.request_leave_group > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.accepted {
    font-weight: bold;
    color: #7ad03a;
}

.rejected {
    font-weight: bold;
    color: indianred;
}

.pending {
    font-weight: bold;
    color: #f3ad28;
}

.work_line {
    background-color: #007AFF;
    color: white;
    padding: 0 5px;
    height: 32px
}

/* School and work schedule CSS */

.table_style {
    border-collapse: separate;
    border-spacing: 1em;
}


.day_div {
    text-align: left;
    padding: 5px;
    margin: 5px;
    width: 100px;
}

.length_hour {
    padding: 0px;
    margin: 0px;
    text-align: left;
    background-color: lightgrey;
}


.extra_info {
    padding: 0px;
}

.edit_button {
    padding: 2px 8px 4px 8px;
}

.delete_button {
    margin-top: -30px;
    padding: 2px 8px 4px 8px;
    border-color: red;
    color: red;
    float: right;
}

.delete_button:hover {
    border-color: darkred;
    color: darkred;
}

.department_workschedule {
    text-align: center;
}

/*popup edit page for school schedule css*/
.content_page {
    margin: 10px;
    padding-top: 30px;
    padding-left: 20px;
    text-align: left;
}

.form_page {
    margin: 30px;
}

.closewindow_button {
    float: right;
    border-color: red;
    margin-top: -20px;
    text-align: center;
    color: red;
    width: 50px;
}

.closewindow_button:hover {
    float: right;
    border-color: darkred;
    margin-top: -20px;
    text-align: center;
    color: darkred;
    width: 50px;
}

input[type="time"],
input[type="date"] {
    padding-bottom: 4px;
    position: relative;
    top: -2px;
}

input[type="time"]:focus,
input[type="date"]:focus,
textarea:focus {
    outline: none;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator:focus,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator:focus {
    display: none;
}

input[type="date"] {
    right: -34px;
}

/*popup edit page for school schedule css*/
.content_page {
    margin: 10px;
    padding-top: 30px;
    padding-left: 20px;
    text-align: left;
}

.form_page {
    margin: 30px;
}

.closewindow_button {
    float: right;
    border-color: red;
    margin-top: -20px;
    text-align: center;
    color: red;
    width: 50px;
}

.closewindow_button:hover {
    float: right;
    border-color: darkred;
    margin-top: -20px;
    text-align: center;
    color: darkred;
    width: 50px;
}
