/* Availability CSS*/
.save_button {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 4px 2px;
}

.time_input {
    max-width: 90px;
}

.watermark_concept {
    min-height: 50%;
    min-width: 50%;
}

.concept_text {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    font-size: 100px;
    font-weight: 500;
    display: grid;
    justify-content: center;
    align-content: center;
    opacity: 0.2;
    transform: rotate(320deg);
}

.current_page_title {
    text-align: center;
}

/* Request leave CSS*/
.request_leave_th {
    font-size: 30px;
    font-weight: 500;
}

.request_leave_group {
    display: flex;
    flex-direction: row;
}

.new_request {
    padding: 10px;
    margin: 5px;
    flex: 1;
}

.current_requests {
    padding: 10px;
    margin: 5px;
    flex: 1;
}