.login_group {
    display: flex;
    justify-content: center;
    border: 2px solid #ccc;
    padding: 10px;
}

.login_input_bars {
    padding: 0px;
    margin: 0px;
    line-height: 0px;
}

.login_button {
    padding: 5px;
    display: flex;
    justify-content: center;
} 

/* Gives the error message the colour red */
.field_validation_error {
    color: red;
}

.watermark_concept {
    min-height: 50%;
    min-width: 50%;
}

.concept_text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(320deg);
    z-index: 1;
    font-size: 100px;
    font-weight: 500;
    opacity: 0.1;
    color: red;
    pointer-events: none;
}
